## Pandas数据分析处理库

In [2]:
import pandas as pd

In [3]:

df = pd.read_csv('D:/Temp/BI.LAB3/ansett.csv')
df

          Week Airports     Class  Passengers
0     1989 W28  ADL-PER  Business         193
1     1989 W29  ADL-PER  Business         254
2     1989 W30  ADL-PER  Business         185
3     1989 W31  ADL-PER  Business         254
4     1989 W32  ADL-PER  Business         191
...        ...      ...       ...         ...
7402  1992 W43  SYD-PER     First         203
7403  1992 W44  SYD-PER     First         137
7404  1992 W45  SYD-PER     First         161
7405  1992 W46  SYD-PER     First         155
7406  1992 W47  SYD-PER     First         188

[7407 rows x 4 columns]

.head可以读取前几条数据，默认前五条数据

In [6]:
df.head()#写6就打印前6条,默认打印前5条

       Week Airports     Class  Passengers
0  1989 W28  ADL-PER  Business         193
1  1989 W29  ADL-PER  Business         254
2  1989 W30  ADL-PER  Business         185
3  1989 W31  ADL-PER  Business         254
4  1989 W32  ADL-PER  Business         191

.info返回当前的信息

In [7]:
df.info()#调信息并打印，string串在panda中叫做object类型

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7407 entries, 0 to 7406
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Week        7407 non-null   object
 1   Airports    7407 non-null   object
 2   Class       7407 non-null   object
 3   Passengers  7407 non-null   int64
dtypes: int64(1), object(3)
memory usage: 231.6+ KB

In [8]:
df.index#查询索引

RangeIndex(start=0, stop=7407, step=1)

In [9]:
df.columns#查询列名

Index(['Week', 'Airports', 'Class', 'Passengers'], dtype='object')

In [10]:
df.dtypes#查询列数据的类型

Week          object
Airports      object
Class         object
Passengers     int64
dtype: object

In [11]:
df.values#查询数值，除去第一行，以行的形式呈现

array([['1989 W28', 'ADL-PER', 'Business', 193],
       ['1989 W29', 'ADL-PER', 'Business', 254],
       ['1989 W30', 'ADL-PER', 'Business', 185],
       ...,
       ['1992 W45', 'SYD-PER', 'First', 161],
       ['1992 W46', 'SYD-PER', 'First', 155],
       ['1992 W47', 'SYD-PER', 'First', 188]], dtype=object)

自己创建一个dataframe结构（以字典的形式）

In [12]:
data = {'country':['aaa','bbb','ccc'],'population':[10,12,14]}
df_data = pd.DataFrame(data)
df_data

  country  population
0     aaa          10
1     bbb          12
2     ccc          14

In [13]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     3 non-null      object
 1   population  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

取指定的数据

In [14]:
passengers = df['Passengers']
passengers[:5]

0    193
1    254
2    185
3    254
4    191
Name: Passengers, dtype: int64

1.NaN-not a number
2.series:dataframe中的一列或一行

In [15]:
passengers.values[:5]

array([193, 254, 185, 254, 191], dtype=int64)

In [16]:
df.head()

       Week Airports     Class  Passengers
0  1989 W28  ADL-PER  Business         193
1  1989 W29  ADL-PER  Business         254
2  1989 W30  ADL-PER  Business         185
3  1989 W31  ADL-PER  Business         254
4  1989 W32  ADL-PER  Business         191

In [17]:
df['Passengers'][:5]

0    193
1    254
2    185
3    254
4    191
Name: Passengers, dtype: int64

索引我们可以自己指定

In [ ]:
df = df.set_index('Week')
df.head()

In [ ]:
df['Passengers'][:5]

In [ ]:
passengers = df['Passengers']
passengers

In [ ]:
passengers['1989 W28']

In [ ]:
 passengers = passengers + 10#记得要重新赋值,+-*/运算都可以直接进行
 passengers[:5]

In [ ]:
passengers.mean()

In [ ]:
passengers.max()

In [ ]:
passengers.min()

In [ ]:
df.describe()#显示所有的数值列的基本统计特性，count-显示列里面未缺失的样本，std-标准差

Pandas的索引结构

In [ ]:
df.head()

In [ ]:
df[['Airports','Passengers']][:5]#写两个记得得写成一个整体

*loc 用label去定位
*iloc 用postion去定位

In [ ]:
df.iloc[0:6,1:3]#前6行数据，第1列-第三列

In [ ]:
df = df.set_index('Week')
df.head()

In [ ]:
df.loc['1989 W29']

In [ ]:
df.loc['1989 W29','Passengers']

In [ ]:
#df.loc['1989 W29':'1989 W30',:]#通过索引找位置

In [ ]:
df.loc['1989 W29','Passengers'] = 1000#直接赋值操作
df.head()

## bool类型的索引

In [ ]:
df['Passengers']>500

In [ ]:
df[df['Passengers']>500][:5]

In [ ]:
df[df['Airports'] == 'ADL-PER'][:5]

In [ ]:
df.loc[df['Airports'] == 'ADL-PER','Passengers']

In [ ]:
df.loc[df['Airports'] == 'ADL-PER','Passengers'].mean()#用bool类型当索引，定位再进行统计特性

In [ ]:
(df['Passengers'] > 1000).sum()#乘客大于1000人的总人数

## groupby操作

In [ ]:
import pandas as pd
df = pd.DataFrame({'key':['A','B','C','A','B','C','A','B','C'],'data':[0,5,10,5,10,15,10,15,20]})
df

In [ ]:
#ABC三个品牌分别的销售额的统计
for key in['A','B','C']:
    print(key,df[df['key']== key].sum())

In [ ]:
df.groupby('key').sum()

In [ ]:
#numpy结合groupby的操作
import numpy as np

In [ ]:
df.groupby('key').aggregate(np.mean)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('D:/Temp/BI.LAB3/ansett.csv')
df

In [ ]:
df.groupby('Airports')['Passengers'].mean()#计算不同机场乘客的均值

## 数值运算

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6]],index = ['a','b'],columns = ['A','B','C'])
df

In [ ]:
df.sum()#默认按照列来求和

In [ ]:
df.sum(axis=0)#按列求和

In [ ]:
df.sum(axis=1)#按行求和

In [ ]:
df.sum(axis = 'columns')

In [ ]:
df.mean()

In [ ]:
df.mean('columns')

In [ ]:
df.mean(axis=1)

In [ ]:
df.min()

In [ ]:
df.max()

In [ ]:
df.median()#中位数

## 二元统计

In [ ]:
import pandas as pd 
df = pd.read_csv('D:/Temp/BI.LAB3/ansett.csv')
df

In [ ]:
df.cov()#协方差

In [ ]:
df.corr()#相关系数

In [ ]:
df.info()

In [ ]:
df['Passengers'].value_counts()#默认降序

In [ ]:
df['Passengers'].value_counts(ascending = True)#改为升序

In [ ]:
df['Passengers'].value_counts(ascending = True, bins = 5)#bins=5产生5个分组

In [ ]:
df['Passengers'].count()#统计passengers这一列的元素的个数

In [ ]:
df['Week'].count()|

In [ ]:
print (help(pd.value_counts))#调用语句的用法

## 对象操作-Series结构的增删改查

In [ ]:
import pandas as pd

In [ ]:
data = [10,11,12]
index = ['a','b','c']
s = pd.Series(data = data,index =index)
s

In [ ]:
s[0:2]#切片操作，索引为和的元素

In [ ]:
mask = [True,False,True]#只打印为true的行，其他值隐藏
s[mask]

## Series结构的查询操作

In [ ]:
s.loc['a']

In [ ]:
s.iloc[1]

## Series结构的改操作

In [ ]:
#copy改value
s1 = s.copy()
s1['a'] = 100
s1

In [ ]:
#replace改value
s1.replace(to_replace = 100, value =101, inplace =False)#因为inplace=False,此时S1中的value依然为100,不会在原地更改值

In [ ]:
s1#因为inplace=False,此时S1中的value依然为100,不会在原地更改值

In [ ]:
#直接赋值更改索引
s1.index = ['a','b','d']
s1

In [ ]:
#rename+字典结构 谁想要改成谁 -更改索引
s1.rename(index = {'a':'A'},inplace =True)
s1

In [ ]:
s1

## Series结构的增加操作

In [ ]:
import pandas as pd

In [ ]:
data = [100,101]
index =['h','g']
s2 = pd.Series(data = data, index =index)
s2

In [ ]:
s3 =s1.append(s2)
s3

In [ ]:
s3['j']=500
s3

In [ ]:
s1.append(s2,ignore_index=False)#不会生成新索引

In [ ]:
s1.append(s2,ignore_index=True)#生成了新索引

## 删除操作

In [2]:
import pandas as pd

## Series结构的删操作

In [ ]:
data = [10,11,12,89]
index = ['a','b','c','d']
s1 = pd.Series(data = data,index =index)
s1

In [ ]:
#删除一行
del s1['a']
s1

In [ ]:
#删除多行
s1.drop(['b','d'],inplace = True)
s1

## DataFrame结构的增删改查

In [3]:
data =[[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']
df = pd.DataFrame(data = data, index = index, columns = columns)
df

   A  B  C
a  1  2  3
b  4  5  6

## DataFrame结构的查询操作-两者类似

In [4]:
#查询其中一列
df['A']

a    1
b    4
Name: A, dtype: int64

In [ ]:
df.iloc[0]

In [5]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

## DataFrame结构的改操作

In [ ]:
df.loc['a']['A']

In [ ]:
df.loc['a']['A'] = 200;#直接在原表修改
df

In [ ]:
df.index = ['f','g']
df

## DataFrame结构的增操作

In [ ]:
df.loc['c']=[1,2,3]#增加单行数据
df

In [ ]:
data =[[1,2,3],[4,5,6]]
index = ['j','k']
columns = ['A','B','C']
df2 = pd.DataFrame(data = data, index = index, columns = columns)
df2

In [ ]:
df3 = pd.concat([df,df2])#连接两个不同的数据表
df3

In [ ]:
df3 = pd.concat([df,df2],axis = 0)#增行操作
df3

In [ ]:
df3 = pd.concat([df,df2],axis = 1)#增列操作
df3

In [ ]:
df2['Tang']=[10,11]#增加单列数据
df2

In [ ]:
df4 = pd.DataFrame([[10,11],[12,13]],index = ['j','k'],columns =['D','E'])
df4

In [ ]:
df5 = pd.concat([df2,df4],axis = 1)
df5

## 删操操作

In [ ]:
df5.drop(['j'],axis = 0,inplace = True)#drop记得要指定inplace值
df5

In [ ]:
del df5['Tang']
df5

In [ ]:
df5.drop(['A','B','C'],axis = 1,inplace = True)
df5

## merge操作-合并操作

In [ ]:
import pandas as pd

In [ ]:
left = pd.DataFrame({'key':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key':['K0','K1','K2','K3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right)

In [ ]:
#优化写法
pd.merge(left,right,on = 'key')#on代表以什么键进行合并

In [ ]:
left = pd.DataFrame({'key1':['K0','K1','K2','K3'],'key2':['K0','K1','K2','K3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key1':['K0','K1','K2','K3'],'key2':['K0','K1','K2','K4'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,on = 'key1')#看到_x和_y，说明有重复的关键字

In [ ]:
pd.merge(left,right,on =[ 'key1','key2'])#指定多个key，不一样的元素会被过滤，只会保留相同的元素

In [ ]:
pd.merge(left,right,on =[ 'key1','key2'],how = 'outer')#outer说明指定一个并集（默认为交集）

In [ ]:
pd.merge(left,right,on =[ 'key1','key2'],how = 'outer',indicator = True)#indicatior会指示是并集还是交集

In [ ]:
pd.merge(left,right,on =[ 'key1','key2'],how = 'left')#这里标识以左表为基准，保留K3

## Pandas显示设置

In [ ]:
import pandas as pd

In [ ]:
pd.get_option('display.max_rows')

In [ ]:
pd.set_option('display.max_rows',100)#设置最多打印100行

In [ ]:
pd.Series(index=range(0,100))

In [ ]:
pd.get_option('display.max_columns')

In [ ]:
pd.set_option('display.max_columns',30)#设置最多打印30列

In [ ]:
pd.DataFrame(columns =range(0,30))

In [ ]:
pd.get_option('display.max_colwidth')#默认字符串打印的最长长度

In [ ]:
pd.set_option('display.max_colwidth',100)

In [ ]:
pd.Series(index=['A'],data=['t'*70])

In [ ]:
pd.get_option('display.precision')#默认字符串打印的精度（小数点位数）

In [ ]:
pd.set_option('display.precision',2)

In [ ]:
pd.Series(data=[1.2345679])

In [ ]:
pd.set_option('display.precision',5)
pd.Series(data=[1.2345679])